.example-spacer {
  flex: 1 1 auto;
}

.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field{
    width:100% ;
  }
}
.mat-column-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  height: 100%; /* ensures it stretches full cell height */
  padding: 0 8px; /* keeps even spacing from edges */
 
}

.mat-column-action button {
  vertical-align: middle;
  margin-top: 4px; /* fine-tune vertical alignment */
}
