.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 20px; // equal spacing between fields

  mat-form-field {
    flex: 1 1 0;   // all fields share space equally
    min-width: 0;  // prevents overflow
  }
}
.action{
    padding: 0px 25px 20px ;
    button{
        flex: 1;
    }

}
